@media screen and (max-width: 575px) {
    .img-fluid {
        border-radius: 20px;
    }
}
@media screen and (min-width: 575px) {
    .img-fluid {
        border-radius: 20px;
        height: 80%;
    }
}



.information {
    text-align: center;
}

.album {
    padding: 3vw;
    background: #ececec;
    border-radius: 20px;
}

.container-fluid {
    border-color: #FF0000;
    background-color: #FF0000;
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    padding-bottom: 2vw;
}

.btn-outline-success {
    background-color: white;
}

.form-control {
    margin-left: 2vw;
}

.logo {
    float: left;
    margin-left: 2vw;
}

.display-2 {
    text-decoration: none;
}

.titleVinile {
    color: #FF0000;
    text-decoration: none;
}

.display-6 {
    float: center;
    color: #FF0000;
}

.barBottom {
    background-color: #FF0000;
    padding-top: 2vw;
    padding-bottom: 0px;
}

.btn {
    margin-right: 6vw;
}

#add-to-cart-button {
    margin: 0px;
    padding: 0px;
}

.textLI {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

.fut {
    color: #000000;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}