.img-fluid {
    border-radius: 20px;
}

.information {
    text-align: center;
}

.album {
    padding-top: 4vw;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 70%;
    background: #ececec;
    border-radius: 20px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.bg-red {
    background: #FF0000;
}

.row {
    padding-bottom: 2vw;
}

.btn-outline-success {
    background-color: white;
}

.form-control {
    margin-left: 2vw;
}

.logo {
    float: left;
    margin-left: 2vw;
}

.display-2 {
    text-decoration: none;
}

.titleVinile {
    color: #FF0000;
    text-decoration: none;
}

.display-6 {
    float: left;
    color: #FF0000;
}


.btn {
    margin-right: 6vw;
}

.textLI {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

.fut {
    display: block;
    padding: 0.5rem 1rem;
    color: #000000;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}


.barBottom {
    background-color: #FF0000;
    padding-top: 2vw;
    padding-bottom: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
}

.row {
    text-align: center;
}

.textForm {
    min-width: 25vw;
    font-size: 20px;
}

.regLink {
    display: block;
    padding: 0.5rem 1rem;
    color: #0000008C;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.regLink:hover {
    display: block;
    padding: 0.5rem 1rem;
    color: #FF0000;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.margini {
    margin: 4vw;
}